<section class="overlape">
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cand-single-user">
                        <div class="share-bar circle">
                            <a href="https://www.facebook.com/{{perfil.redesSociales.usuarioFacebook}}" title="" class="share-fb"><i class="la la-facebook"></i></a>
                            <a href="https://www.twitter.com/{{perfil.redesSociales.usuarioTwitter}}" title="" class="share-twitter"><i class="la la-twitter"></i></a>
                            <a href="https://www.instagram.com/{{perfil.redesSociales.usuarioInstagram}}" title="" class="share-google"><i class="la la-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/{{perfil.redesSociales.usuarioLinkedIn}}" title="" class="share-fb"><i class="la la-linkedin"></i></a>
                        </div>
                        <div class="can-detail-s">
                            <div class="cst"><img
                                    src="https://scontent.faep7-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/53392913_10217412438410264_1299546104634802176_n.jpg?_nc_cat=101&_nc_oc=AQnq8WyKzdlSniQnvJ0i5UZzYr5P8cxHNpiR0t7JpGmMgL0nbYTPykGBFP74zzlqjTQ&_nc_ht=scontent.faep7-1.fna&oh=b9120705606ef084094061f63c1b0261&oe=5E126BBC"
                                    alt="" /></div>
                            <h3>{{ perfil.nombre }} {{ perfil.apellido }}</h3>
                            <span><i> {{ obtenerPuestoActual() }} </i> en
                                <i>{{ obtenerEmpresaActual() }}</i></span>
                            <p><i class="la la-envelope"></i>{{ obtenerEmail() }}</p>
                            <p><i class="la la-phone"></i>{{ obtenerTelefono() }}</p>
                            <p><i class="la la-map-marker"></i>{{ obtenerUbicacion() }}</p>
                        </div>
                        <div class="download-cv">
                            <a href="#" title="">Descargar Perfil <i class="la la-download"></i></a>
                        </div>
                    </div>
                    <ul class="cand-extralink">
                        <li><a href="#about" title="">Descripción</a></li>
                        <li><a href="#skills" title="">Objetivo Laboral</a></li>
                        <li><a href="#education" title="">Educación</a></li>
                        <li><a href="#experience" title="">Experiencia Laboral</a></li>
                        <li><a href="#idiomas" title="">Idiomas</a></li>
                        <!-- <li><a href="#awards" title="">Awards</a></li> -->
                    </ul>
                    <div class="cand-details-sec">
                        <div class="row">
                            <div class="col-lg-8 column">
                                <div class="cand-details" id="about">
                                    <h2>Objetivo Laboral</h2>
                                    <p>{{ perfil.objetivoLaboral }}</p>
                                    <div class="edu-history-sec" id="education">
                                        <h2>Educación</h2>
                                        <div class="edu-history" *ngFor="let ee of perfil.experienciaEducativa">
                                            <i class="la la-graduation-cap"></i>
                                            <div class="edu-hisinfo">
                                                <h3>{{ ee.tipoEstudio[0].valor }}</h3>
                                                <i>{{ getAnio(ee.fechaDesdeDT) }} - {{ getAnio(ee.fechaHastaDT) }}</i>
                                                <span>{{ ee.institucion }}</span>
                                                <p>{{ ee.titulo }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu-history-sec" id="experience">
                                        <h2>Experiencia Laboral</h2>
                                        <div class="edu-history style2" *ngFor="let el of perfil.experienciaLaboral">
                                            <i></i>
                                            <div class="edu-hisinfo">
                                                <h3>{{ getPuesto(el) }} <span>{{ el.empresa }}</span></h3>
                                                <i>{{ getAnio(el.fechaDesdeDT)}} - {{ getAnio(el.fechaHastaDT) }}</i>
                                                <p>{{ el.descripcion }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu-history-sec" id="idiomas">
                                        <h2>Idiomas</h2>
                                        <div class="edu-history" *ngFor="let i of perfil.idioma">
                                            <i class="la la-book"></i>
                                            <div class="edu-hisinfo">
                                                <h3>{{ i.nombreIdioma[0].valor }}</h3>
                                                <span><strong>Nivel Escrito: </strong>{{ i.nivelEscrito[0].valor }}</span>
                                                <span><strong>Nivel Oral: </strong>{{ i.nivelOral[0].valor }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu-history-sec" id="idiomas">
                                        <h2 style="margin-top: 100px;">Redes Sociales</h2>
                                        <div class="col-lg-4">
                                            <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/__lauta'}"
                                                [opts]="{tweetLimit: 3, height: 200}">
                                            </ngx-twitter-timeline>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 column">
                                <div class="job-overview">
                                    <ul>
                                        <li><i class="la la-globe"></i>
                                            <h3>Pais de Residencia</h3><span>{{ perfil.paisResidencia[0].valor }}</span>
                                        </li>
                                        <li><i class="la la-users"></i>
                                            <h3>Estado Civil</h3><span>{{ perfil.estadoCivil[0].valor }}</span>
                                        </li>
                                        <li><i class="la la-birthday-cake"></i>
                                            <h3>Nacimiento</h3><span>{{ getDia(perfil.fechaNacimientoDT) }} de {{ getMes(perfil.fechaNacimientoDT) }} de {{ getAnioNacimiento(perfil.fechaNacimientoDT) }} ({{ getEdad(perfil.fechaNacimientoDT) }} años)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>