<div class="block no-padding">
    <div class="container">
        <div class="row no-gape">
            <div class="col-lg-9 column">
                <div class="padding-left">
                    <div class="profile-title" [ngSwitch]="paso">
                        <h3 *ngSwitchCase="1">Datos Personales</h3>
                        <h3 *ngSwitchCase="2">Datos Adicionales</h3>
                        <h3 *ngSwitchCase="3">Experiencias Laborales</h3>
                        <h3 *ngSwitchCase="4">Experencias Educativas</h3>
                        <h3 *ngSwitchCase="5">Idiomas</h3>
                    </div>
                    <div class="steps-sec" style="padding: 0px;">
                        <div class="step-perfil" [class.active]="paso === 1" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 1"><i class="la la-user"></i></p>
                            <span>Datos Personales</span>
                        </div>
                        <div class="step-perfil" [class.active]="paso === 2" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 2"><i class="la la-info"></i></p>
                            <span>Datos Adicionales</span>
                        </div>
                        <div class="step-perfil" [class.active]="paso === 3" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 3"><i class="la la-briefcase"></i></p>
                            <span>Experiencias Laborales</span>
                        </div>
                        <div class="step-perfil" [class.active]="paso === 4" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 4"><i class="la la-graduation-cap"></i></p>
                            <span>Experiencia Educativa</span>
                        </div>
                        <div class="step-perfil" [class.active]="paso === 5" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 5"><i class="la la-book"></i></p>
                            <span>Idiomas</span>
                        </div>
                        <div class="step-perfil" [class.active]="paso === 6" style="margin-bottom: 0px; margin-top: 20px;">
                            <p (click)="paso = 6"><i class="la la-check-circle"></i></p>
                            <span>¡Listo!</span>
                        </div>
                    </div>
                    <form #form="ngForm" [ngSwitch]="paso" (ngSubmit)="onSubmit(form)">
                        <div class="row" *ngSwitchCase="1">
                            <div class="col-lg-6">
                                <span class="pf-title">Nombres</span>
                                <div class="pf-field">
                                    <input type="text" placeholder="" name="nombres" [(ngModel)]="perfil.nombre" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title">Apellidos</span>
                                <div class="pf-field">
                                    <input type="text" placeholder="" name="apellidos" [(ngModel)]="perfil.apellido" />
                                </div>
                            </div>
                            <span class="pf-title" style="padding-left: 15px; margin-top: 0px;">Correo
                                Electrónico</span>
                            <div class="col-lg-8" *ngFor="let email of perfil.emails; let i = index">
                                <div class="col-lg-11" style="margin-left: -15px;">
                                    <div class="pf-field">
                                        <input type="text" placeholder="" name="email-{{i}}"
                                            [(ngModel)]="perfil.emails[i].valor" />
                                    </div>
                                </div>
                                <div style="padding-top:10px;" *ngIf="perfil.emails?.length !== 1">
                                    <a (click)="eliminarEmail(perfil.emails[i].id)"><i class="la la-trash"
                                            style="font-size: 25px;"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4" style="padding-top:10px;">
                                <a (click)="agregarEmail()"><i class="la la-plus-circle" style="font-size: 25px;"></i>
                                    Agregar otro
                                    E-Mail</a>
                            </div>

                            <span class="pf-title" style="padding-left: 15px; margin-top: 0px;">Teléfono</span>
                            <div class="col-lg-8" *ngFor="let telefono of perfil.telefonos; let i = index">
                                <div class="col-lg-11" style="margin-left: -15px;">
                                    <div class="pf-field">
                                        <input type="text" placeholder="" name="telefono-{{i}}"
                                            [(ngModel)]="perfil.telefonos[i].valor" />
                                    </div>
                                </div>
                                <div style="padding-top:10px;" *ngIf="perfil.telefonos?.length !== 1">
                                    <a (click)="eliminarTelefono(perfil.telefonos[i].id)"><i class="la la-trash"
                                            style="font-size: 25px;"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4" style="padding-top:10px;">
                                <a (click)="agregarTelefono()"><i class="la la-plus-circle"
                                        style="font-size: 25px;"></i> Agregar otro
                                    Teléfono</a>
                            </div>

                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">País de Residencia</span>
                                <ng-multiselect-dropdown [placeholder]="'Seleccione un País de Residencia'"
                                    [data]="paises" [(ngModel)]="perfil.paisResidencia" name="paisResidencia"
                                    [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Provincia de Residencia</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione una Provincia de Residencia'"
                                        [data]="provincias" [(ngModel)]="perfil.provinciaResidencia"
                                        name="provinciaResidencia" [settings]="dropdownSettingsSingle"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;" >Zona</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione una zona'"
                                        [data]="zonas" [(ngModel)]="perfil.zona"
                                        name="zona" [settings]="dropdownSettingsSingle"
                                        (onSelect)="onItemSelectZona($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Ciudad</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione una ciudad'"
                                        [data]="ciudades" [(ngModel)]="perfil.ciudad"
                                        name="ciudad" [settings]="dropdownSettingsSingle"
                                        (onSelect)="onItemSelectCiudad($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Localidad</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione una localidad'" [data]="localidades" [(ngModel)]="perfil.localidad"
                                        name="localidad" [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Fecha de Nacimiento</span>
                                <div class="pf-field">
                                    <input class="input-box" placeholder="Click to select a date" angular-mydatepicker
                                        (click)="dp.toggleCalendar()" [(ngModel)]="perfil.fechaNacimiento"
                                        name="fechaNacimiento" [options]="myDpOptions" #dp="angular-mydatepicker" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 0px;">Estado Civil</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione un Estado Civil'"
                                        [data]="estadosCivil" [(ngModel)]="perfil.estadoCivil"
                                        name="estadoCivil" [settings]="dropdownSettingsSingle"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 0px;">Pais Nacionalidad</span>
                                <div class="pf-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione un País de Nacionalidad'"
                                        [data]="paises" [(ngModel)]="perfil.paisNacionalidad" name="paisNacionalidad"
                                        [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Tipo de Documento</span>
                                <div class="pf-field">
                                    <input type="text" placeholder="" [(ngModel)]="perfil.tipoDocumento"
                                        name="tipoDocumento" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 15px;">Documento de Identidad</span>
                                <div class="pf-field">
                                    <input type="text" 
                                        placeholder="" 
                                        [(ngModel)]="perfil.documento"
                                        name="numeroDocumento" />
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngSwitchCase="2">
                            <div class="col-lg-12">
                                <span class="pf-title">Foto de Perfil <a style="font-size: 25px;" data-toggle="tooltip" data-placement="top" title="Utilizar una foto formal y no tomada en situaciones inoportunas, cuidando la pose, peinado y la vestimenta"><i class="la la-info-circle"></i></a></span>
                                <div class="upload-portfolio">
                                    <div class="uploadbox">
                                        <label for="file-upload" class="custom-file-upload">
                                            <i class="la la-cloud-upload"></i> <span>Subir Imagen</span>
                                        </label>
                                        <input id="file-upload" type="file" style="display: none;" (change)="upload()" />
                                    </div>
                                </div>
                            </div>
                            <span class="pf-title">
                                <h4>Redes Sociales</h4>
                            </span>
                            <div class="col-lg-6">
                                <div class="pf-field">
                                    <input type="text" placeholder="Usuario en Twitter"
                                        [(ngModel)]="perfil.redesSociales.usuarioTwitter" name="usuarioTwitter" />
                                    <i class="la la-twitter"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p></p>
                                <p class="remember-label">
                                    <input type="checkbox" name="mostrarFeedTwitter" id="mostrarFeedTwitter"
                                        [(ngModel)]="perfil.redesSociales.mostrarFeedTwitter"><label
                                        for="mostrarFeedTwitter">Mostrar feed en
                                        Perfil</label>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="pf-field">
                                    <input type="text" placeholder="Usuario en Facebook"
                                        [(ngModel)]="perfil.redesSociales.usuarioFacebook" name="usuarioFacebook" />
                                    <i class="la la-facebook"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p></p>
                                <p class="remember-label">
                                    <input type="checkbox" name="mostrarFeedFacebook" id="mostrarFeedFacebook"
                                        [(ngModel)]="perfil.redesSociales.mostrarFeedFacebook"><label
                                        for="mostrarFeedFacebook">Mostrar feed en
                                        Perfil</label>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="pf-field">
                                    <input type="text" placeholder="Usuario en Instagram"
                                        [(ngModel)]="perfil.redesSociales.usuarioInstagram" name="usuarioInstagram" />
                                    <i class="la la-instagram"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p></p>
                                <p class="remember-label">
                                    <input type="checkbox" name="mostrarFeedInstagram" id="mostrarFeedInstagram"
                                        [(ngModel)]="perfil.redesSociales.mostrarFeedInstagram"><label
                                        for="mostrarFeedInstagram">Mostrar feed en
                                        Perfil</label>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="pf-field">
                                    <input type="text" placeholder="Usuario en LinkedIn"
                                        [(ngModel)]="perfil.redesSociales.usuarioLinkedIn" name="usuarioLinkedIn" />
                                    <i class="la la-linkedin"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p></p>
                                <p class="remember-label">
                                    <input type="checkbox" name="mostrarFeedLinkedIn" id="mostrarFeedLinkedIn"
                                        [(ngModel)]="perfil.redesSociales.mostrarFeedLinkedIn"><label
                                        for="mostrarFeedLinkedIn">Mostrar feed en
                                        Perfil</label>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <span class="pf-title" style="margin-top: 0px;">Objetivo Laboral <a style="font-size: 25px;" data-toggle="tooltip" data-placement="top" title="No copiar el objetivo laboral de un conocido o frases de internet. En este apartado es importante mostrar individualidad."><i class="la la-info-circle"></i></a></span>
                                <div class="pf-field">
                                    <textarea [(ngModel)]="perfil.objetivoLaboral" name="objetivoLaboral"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="pf-title" style="margin-top: 0px;">Intereses Personales</span>
                                <div class="pf-field">
                                    <input type="text" placeholder="" [(ngModel)]="perfil.interesesPersonales"
                                        name="interesesPersonales" />
                                </div>
                            </div>
                            <h4>Universidad</h4>
                            <div class="col-lg-12">
                                <span class="pf-title" style="margin-top: 30px;">Carrera</span>
                                <ng-multiselect-dropdown [placeholder]="'Seleccione una Carrera'" [data]="carreras"
                                    [(ngModel)]="perfil.carrera" name="carrera" [settings]="dropdownSettingsSingle"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 20px;">Porcentaje Materias Aprobadas</span>
                                <div class="pf-field">
                                    <input type="number" placeholder="" [(ngModel)]="perfil.porcentajeMateriasAprobadas" name="porcentajeMateriasAprobadas" min="0" max="100" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 20px;">Cantidad Materias Aprobadas</span>
                                <div class="pf-field">
                                    <input type="number" placeholder="" [(ngModel)]="perfil.cantidadMateriasAprobadas" name="cantidadMateriasAprobadas" min="0" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 0px;">Promedio</span>
                                <div class="pf-field">
                                    <input type="number" placeholder="" [(ngModel)]="perfil.promedio" name="promedio" min="0" max="10" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title" style="margin-top: 0px;">Año Cursada</span>
                                <div class="pf-field">
                                    <input type="number" placeholder="" [(ngModel)]="perfil.anioCursada" name="anioCursada" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngSwitchCase="3">
                            <div class="manage-jobs-sec">
                                <br>
                                <table *ngIf="perfil.experienciaLaboral?.length > 0">
                                    <thead>
                                        <tr>
                                            <th style="color: purple;">
                                                <h4>Empresa</h4>
                                            </th>
                                            <th style="color: purple;">
                                                <h4>Puesto</h4>
                                            </th>
                                            <th style="color: purple;">
                                                <h4>Fecha desde</h4>
                                            </th>
                                            <th style="color: purple;">
                                                <h4>Fecha hasta</h4>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of perfil.experienciaLaboral">
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ el.empresa }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ el.puesto?.valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ el.fechaDesde?.singleDate.date?.month }}/{{ el.fechaDesde?.singleDate.date?.year }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3 *ngIf="!el.actualmenteTrabajando">{{ el.fechaHasta?.singleDate.date?.month }}/{{ el.fechaHasta?.singleDate.date?.year }}</h3>
                                                    <h3 *ngIf="el.actualmenteTrabajando">Presente</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="action_job">
                                                    <li><span>Editar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i
                                                                class="la la-pencil" style="font-size: 30px;"></i></a>
                                                    </li>
                                                    <li><span>Eliminar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i class="la la-trash"
                                                                style="font-size: 30px;"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 class="add-exp-laboral" style="padding-left: 27px;"><a (click)="openExperienciaLaboral(content)"><i
                                            class="la la-plus-circle"></i> Agregar Experiencia Laboral </a></h2>
                            </div>
                        </div>
                        <div class="row" *ngSwitchCase="4">
                            <div class="manage-jobs-sec">
                                <h2 style="padding-left: 27px; font-size: 20px; padding-top: 35px; color: green;"><a
                                        class="add-exp-laboral" (click)="openExperienciaEducativa(content2)">
                                        <li class="la la-plus-circle" style="display: inline-block;"></li> Agregar
                                        Experiencia Educativa
                                    </a></h2>
                                <table *ngIf="perfil.experienciaEducativa?.length > 0">
                                    <thead>
                                        <tr>
                                            <td style="color: purple;">
                                                <h4>Institución</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Tipo</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Estado</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Fechas</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Acción</h4>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ee of perfil.experienciaEducativa">
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ ee.institucion }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ ee.tipoEstudio[0].valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ ee.estado[0].valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ ee.fechaDesde.singleDate.date?.month }}/{{ ee.fechaDesde.singleDate.date?.year }} - {{ ee.fechaHasta.singleDate.date?.month }}/{{ ee.fechaHasta.singleDate.date?.year }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="action_job">
                                                    <li><span>Editar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i
                                                                class="la la-pencil" style="font-size: 30px;"></i></a>
                                                    </li>
                                                    <li><span>Eliminar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i class="la la-trash"
                                                                style="font-size: 30px;"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" *ngSwitchCase="5">
                            <div class="manage-jobs-sec">
                                <table *ngIf="perfil.idioma?.length > 0">
                                    <thead>
                                        <tr>
                                            <td style="color: purple;">
                                                <h4>Idioma</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Nivel Oral</h4>
                                            </td>
                                            <td style="color: purple;">
                                                <h4>Nivel Escrito</h4>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of perfil.idioma">
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ i.nombreIdioma[0].valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ i.nivelOral[0].valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3>{{ i.nivelEscrito[0].valor }}</h3>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="action_job">
                                                    <li><span>Editar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i
                                                                class="la la-pencil" style="font-size: 30px;"></i></a>
                                                    </li>
                                                    <li><span>Eliminar</span><a href="#" title=""
                                                            style="font-size: 20px; color:black;"><i class="la la-trash"
                                                                style="font-size: 30px;"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 class="add-idioma" style="padding-left: 27px; font-size: 26px;"><a (click)="openIdioma(content3)"><i
                                            class="la la-plus-circle"></i> Agregar Idioma</a></h2>
                                <hr>
                                <h2 class="add-idioma" style="padding-left: 27px; font-size: 25px; margin-top: 45px;">
                                <a> Agregá otros conocimientos que tengas: </a></h2>
                                <div class="pf-field" style="padding-left: 20px;">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione Conocimientos'" [data]="conocimientos"
                                        [(ngModel)]="perfil.otrosConocimientos" name="otrosConocimientos"
                                        [settings]="dropdownSettingsConocimientos" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                    <a style="font-size: 12px;" (click)="mostrarWellConocimiento = !mostrarWellConocimiento;"><i
                                            class="la la-plus-circle"></i> Agregar nuevo Conocimiento</a>
                                </div>
                                <div class="pf-field" *ngIf="mostrarWellConocimiento"
                                    style="background-color:lightgrey; padding-top: 20px; border: 2px solid grey;">
                                    <input type="text" placeholder="Nombre del Conocimiento" [(ngModel)]="newConocimiento" name="newConocimientoStr" />
                                    <button (click)="guardarNewConocimiento()" class="boton-submit pull-right"><strong>Guardar
                                            Conocimiento</strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="boton-submit" (click)="paso = paso + 1" *ngIf="paso !== 6">Siguiente</button>
                                <button class="boton-submit pull-left" (click)="-paso = paso - 1" *ngIf="paso > 1">Atrás</button>
                                <button type="submit" class="boton-submit" *ngIf="paso === 6">Crear Perfil</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h3>Agregar Experiencia Laboral <a style="font-size: 25px;" data-toggle="tooltip" data-placement="top" title="Respecto a la experiencia laboral, evitar descripciones repetitivas para puestos semejantes y centrarse en mostrar logros y resultados concretos."><i class="la la-info-circle"></i></a></h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form2="ngForm" (ngSubmit)="onSubmit(form2)">
            <div class="pf-field">
                <span class="pf-title">Empresa</span>
                <input type="text" placeholder="Nombre de la Empresa" [(ngModel)]="experienciaLaboral.empresa"
                    name="experienciaLaboralEmpresa" />
            </div>
            <span class="pf-title" style="margin-top: 10px!important;">Puesto</span>
            <div class="pf-field">
                <ng-multiselect-dropdown [placeholder]="'Seleccione un Puesto Laboral'" [data]="puestosLaborales"
                    [(ngModel)]="experienciaLaboral.puestoLaboral" name="experienciaLaboralPuestoLaboral"
                    [settings]="dropdownSettingsPL" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <a (click)="mostrarWell = !mostrarWell;" style="font-size: 12px;"><i class="la la-plus-circle"></i> Agregar nuevo Puesto Laboral</a>
            </div>
            <div class="pf-field" *ngIf="mostrarWell" style="background-color:lightgrey; padding-top: 20px; border: 2px solid grey;">
                <input type="text" placeholder="Nombre del Puesto" [(ngModel)]="newPuesto"
                        name="newPuestoStr" />
                <button (click)="guardarNewPuesto()" class="boton-submit pull-right"><strong>Guardar Puesto</strong></button>  
            </div>
            <span class="pf-title" style="margin-top: 20px!important;">Fecha desde</span>
            <div class="pf-field">
                <input class="input-box" placeholder="Fecha desde" angular-mydatepicker (click)="dpp.toggleCalendar()"
                    [(ngModel)]="experienciaLaboral.fechaDesde" name="experienciaLaboralFechaDesde" [options]="myDpOptions"
                    #dpp="angular-mydatepicker" />
                <i class="la la-calendar"></i>
            </div>
            <span class="pf-title" style="margin-top: 5px!important;">Fecha hasta</span>
            <div class="pf-field" *ngIf="!experienciaLaboral.actualmenteTrabajando">
                <input class="input-box" placeholder="Fecha hasta" angular-mydatepicker (click)="dppp.toggleCalendar()"
                    [(ngModel)]="experienciaLaboral.fechaHasta" name="experienciaLaboralFechaHasta" [options]="myDpOptions"
                    #dppp="angular-mydatepicker" />
                <i class="la la-calendar"></i>
            </div>
            <div class="">
                <p class="remember-label">
                    <input type="checkbox" name="experienciaLaboralActualmenteTrabajando"
                        id="experienciaLaboralActualmenteTrabajando"
                        [(ngModel)]="experienciaLaboral.actualmenteTrabajando"><label
                        for="experienciaLaboralActualmenteTrabajando">Actualmente trabajando</label>
                </p>
            </div>
            <span class="pf-title">Conocimientos Adquiridos</span>
            <div class="pf-field">
                <ng-multiselect-dropdown [placeholder]="'Seleccione Conocimientos Adquiridos'" [data]="conocimientos"
                    [(ngModel)]="experienciaLaboral.conocimientos" name="experienciaLaboralConocimientos"
                    [settings]="dropdownSettingsConocimientos" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <a style="font-size: 12px;" (click)="mostrarWellConocimiento = !mostrarWellConocimiento;"><i class="la la-plus-circle"></i> Agregar nuevo Conocimiento</a>
            </div>
            <div class="pf-field" *ngIf="mostrarWellConocimiento" style="background-color:lightgrey; padding-top: 20px; border: 2px solid grey;">
                <input type="text" placeholder="Nombre del Conocimiento" [(ngModel)]="newConocimiento"
                        name="newConocimientoStr" />
                <button (click)="guardarNewConocimiento()" class="boton-submit pull-right"><strong>Guardar Conocimiento</strong></button>  
            </div>
            <span class="pf-title">Descripción del Trabajo</span>
            <div class="pf-field">
                <textarea placeholder="" [(ngModel)]="experienciaLaboral.descripcion"
                    name="descripcion"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveExperienciaLaboral()">Crear Experiencia Laboral</button>
    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h3>Agregar Experiencia Educativa</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form3="ngForm">
            <div class="pf-field">
                <input type="text" placeholder="Nombre de la Institucion" [(ngModel)]="experienciaEducativa.institucion"
                    name="experienciaEducativaInstitucion" />
            </div>
            <div class="pf-field">
                <input type="text" placeholder="Nombre del Título" [(ngModel)]="experienciaEducativa.titulo"
                    name="experienciaEducativaTitulo" />
            </div>
            <span class="pf-title" style="margin-top: 0px!important;">Tipo</span>
            <div class="pf-field">
                <ng-multiselect-dropdown [placeholder]="'Seleccione un tipo de educacion'" [data]="experienciasEducativasTipos"
                    [(ngModel)]="experienciaEducativa.tipoEstudio" name="experienciaEducativaTipo" [settings]="dropdownSettingsSingle"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <span class="pf-title" style="margin-top: 15px !important;">Estado</span>
            <div class="pf-field">
                <ng-multiselect-dropdown [placeholder]="'Seleccione un estado'" [data]="estados"
                    [(ngModel)]="experienciaEducativa.estado" name="experienciaEducativaEstado"
                    [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="pf-field" style="margin-top: 25px;">
                <input class="input-box" placeholder="Fecha desde" angular-mydatepicker (click)="dpp.toggleCalendar()"
                    [(ngModel)]="experienciaEducativa.fechaDesde" name="experienciaEducativaFechaDesde"
                    [options]="myDpOptions" #dpp="angular-mydatepicker" />
                <i class="la la-calendar"></i>
            </div>
            <div class="pf-field">
                <input class="input-box" placeholder="Fecha hasta" angular-mydatepicker (click)="dppp.toggleCalendar()"
                    [(ngModel)]="experienciaEducativa.fechaHasta" name="experienciaEducativaFechaHasta"
                    [options]="myDpOptions" #dppp="angular-mydatepicker" *ngIf="!experienciaEducativa.actualmenteEstudiando" />
                <i class="la la-calendar" *ngIf="!experienciaEducativa.actualmenteEstudiando"></i>
            </div>
            <div class="">
                <p class="remember-label">
                    <input type="checkbox" name="experienciaEducativaAlPresente" id="experienciaEducativaAlPresente"
                        [(ngModel)]="experienciaEducativa.actualmenteEstudiando"><label for="experienciaEducativaAlPresente">Al
                        Presente</label>
                </p>
            </div>
            <div class="pf-field">
                <textarea placeholder="Comentarios" [(ngModel)]="experienciaEducativa.comentarios"
                    name="comentarios"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveExperienciaEducativa()">Crear Experiencia Educativa</button>
    </div>
</ng-template>

<ng-template #content3 let-modal>
    <div class="modal-header">
        <h3>Agregar Idioma</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form4="ngForm">
            Idioma
            <ng-multiselect-dropdown [placeholder]="'Idioma'"
                [data]="idiomas" [(ngModel)]="idioma.nombreIdioma"
                name="idioma-idioma" [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
            <div style="margin-top: 25px;">
                Nivel Oral
                <ng-multiselect-dropdown [placeholder]="'Nivel Oral'" [data]="niveles"
                    [(ngModel)]="idioma.nivelOral" name="idiomaNivelOral"
                    [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <div style="margin-top: 25px;">
                Nivel Escrito
                <ng-multiselect-dropdown [placeholder]="'Nivel Escrito'" [data]="niveles"
                    [(ngModel)]="idioma.nivelEscrito" name="idiomaNivelEscrito"
                    [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="pf-field" style="margin-top: 25px;">
                <textarea placeholder="Comentarios" [(ngModel)]="idioma.comentarios"
                    name="comentarios"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveIdioma()">Agregar Idioma</button>
    </div>
</ng-template>