<div class="block no-padding">
    <div class="container">
        <div class="row no-gape">

            <div class="col-lg-9 column">
                <div class="padding-left">
                    <div class="manage-jobs-sec">
                        <br />
                        <h2 style="padding-left: 27px;">Gestión de Equipos</h2>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left: 40px;">
                                <span class="pf-title" style="margin-top: 0px;"></span>
                                <div class="pf-field">
                                    <input type="text" placeholder="Buscar" class="form-control" />
                                    <i class="la la-search"></i>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h2 style="padding-left: 27px; font-size: 20px; padding-top: 35px; color: green;"><a [routerLink]="['/equipo']">
                                        <li class="la la-plus-circle" style="display: inline-block;"></li> Agregar Equipo
                                    </a></h2>

                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <td style="color: purple;">
                                        <h4>Nombre</h4>
                                    </td>
                                    <td style="color: purple;">
                                        <h4>Acción</h4>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="table-list-title">
                                            <h3>Receptor de Mensajes</h3>
                                        </div>
                                    </td>

                                    <td>
                                        <ul class="action_job">
                                            <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash"
                                                        style="font-size: 36px; color: black;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-list-title">
                                            <h3>Tutores</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="action_job">
                                            <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash"
                                                        style="font-size: 36px; color: black;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-list-title">
                                            <h3>Equipo de Propuestas</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="action_job">
                                            <li><span>Editar</span><a href="#" title=""><i class="la la-pencil"
                                                        style="font-size: 36px; color: black;"></i></a></li>
                                            <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash"
                                                        style="font-size: 36px; color: black;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>