<div class="block remove-top">
    <div class="container">
        <div class="row no-gape">
            <aside class="col-lg-3 column">
                <br>
                <div class="search_widget_job">
                    <div class="field_w_search">
                        <input type="text" placeholder="Búsqueda por Título" [(ngModel)]="filtroTitulo" name="filtroTitulo" (keyup)="actualizarItems()" />
                        <i class="la la-search"></i>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="sb-title closed" (click)="isCollapsedCarrera = !isCollapsedCarrera">Carrera</h3>
                    <div class="specialism_widget" [ngbCollapse]="isCollapsedCarrera">
                        <ng-multiselect-dropdown [placeholder]="'Seleccione Carreras'" [data]="carreras"
                            [settings]="dropdownSettings" [(ngModel)]="carrerasFiltro" name="carrerasFiltro" (onSelect)="actualizarItemsCarrera()" (onDeSelect)="actualizarItemsCarrera()">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedEmpresa = !isCollapsedEmpresa">Empresa</h3>
                    <div class="specialism_widget" [ngbCollapse]="isCollapsedEmpresa">
                        <!-- <div class="field_w_search">
                            <input type="text" placeholder="Buscar Empresa" />
                        </div> -->
                        <div class="simple-checkbox" style="margin-top: 20px;">
                            <p *ngFor="let e of empresasFiltro; let i = index;">
                                <input type="checkbox" name="checke-{{i}}" id="checke-{{i}}" [(ngModel)]="e.seleccionado"
                                    (change)="actualizarItemsEmp(e)">
                                <label for="checke-{{i}}">{{ e.valor }}</label>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="search_widget_job" style="padding-top: 13px;">
                    <div class="field_w_search">
                        <input type="text" placeholder="Ubicación" [(ngModel)]="filtroUbicacion" name="filtroUbicacion" (keyup)="actualizarItems()" />
                        <i class="la la-map-marker"></i>
                    </div>
                </div>
                <br>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedFechaPosteo = !isCollapsedFechaPosteo">Fecha de posteo</h3>
                    <div class="posted_widget" [ngbCollapse]="isCollapsedFechaPosteo">
                        <input type="radio" name="choose" id="wwqe" [(ngModel)]="filtroFecha" value="1" (change)="actualizarItems()"><label for="wwqe">Últimas 24 horas</label><br />
                        <input type="radio" name="choose" id="erewr" [(ngModel)]="filtroFecha" value="7" (change)="actualizarItems()"><label for="erewr">Últimos 7 días</label><br />
                        <input type="radio" name="choose" id="qwe" [(ngModel)]="filtroFecha" value="14" (change)="actualizarItems()"><label for="qwe">Últimos 14 días</label><br />
                        <input type="radio" name="choose" id="wqe" [(ngModel)]="filtroFecha" value="30" (change)="actualizarItems()"><label for="wqe">Últimos 30 días</label><br />
                        <input type="radio" name="choose" id="qweqw" [(ngModel)]="filtroFecha" value="100" (change)="actualizarItems()"><label class="nm" for="qweqw">Todos</label><br />
                    </div>
                </div>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedTipoTrabajo = !isCollapsedTipoTrabajo">Tipo de Trabajo</h3>
                    <div class="type_widget" [ngbCollapse]="isCollapsedTipoTrabajo">
                        <p class="ftchek"><input type="checkbox" name="choosetype" id="dsf"><label for="dsf">Full-Time ({{ obtenerNumeroTipoTrabajo('Full-Time') }})</label></p>
                        <p class="ptchek"><input type="checkbox" name="choosetype" id="sadd"><label for="sadd">Part-Time ({{ obtenerNumeroTipoTrabajo('Part-Time') }})</label></p>
                        <p class="ischek"><input type="checkbox" name="choosetype" id="sdd"><label for="sdd">Pasantía ({{ obtenerNumeroTipoTrabajo('Pasantía') }})</label></p>
                    </div>
                </div>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedTurno = !isCollapsedTurno">Turno</h3>
                    <div class="type_widget" [ngbCollapse]="isCollapsedTurno">
                        <p class="ftchek"><input type="checkbox" name="choosetype" id="dsff"><label
                                for="dsff">Mañana</label></p>
                        <p class="ptchek"><input type="checkbox" name="choosetype" id="saddf"><label
                                for="saddf">Tarde</label></p>
                        <p class="ischek"><input type="checkbox" name="choosetype" id="sddf"><label
                                for="sddf">Noche</label></p>
                    </div>
                </div>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedPuesto = !isCollapsedPuesto">Puestos</h3>
                    <div class="specialism_widget" [ngbCollapse]="isCollapsedPuesto">
                        <div class="field_w_search">
                            <input type="text" placeholder="Buscar Puestos" />
                        </div><!-- Search Widget -->
                        <div class="simple-checkbox scrollbar">
                            <p><input type="checkbox" name="smplechk" id="224"><label for="224">Desarrollador</label>
                            </p>
                            <p><input type="checkbox" name="smplechk" id="234"><label for="234">Analista</label></p>
                            <p><input type="checkbox" name="smplechk" id="244"><label for="244">Tester</label></p>
                            <p><input type="checkbox" name="smplechk" id="254"><label for="254">Pasante
                                    Comercial</label></p>
                            <p><input type="checkbox" name="smplechk" id="264"><label for="264">Consultor de
                                    Finanzas</label></p>
                            <p><input type="checkbox" name="smplechk" id="274"><label for="274">Todos</label></p>
                        </div>
                    </div>
                </div>
                <div class="widget border">
                    <h3 class="sb-title closed" (click)="isCollapsedCoincidencia = !isCollapsedCoincidencia">Coincidencia</h3>
                    <div class="specialism_widget" [ngbCollapse]="isCollapsedCoincidencia">
                        <div class="field_w_search">
                            <input type="text" placeholder="Búsqueda por Título" />
                            <i class="la la-search"></i>
                        </div>
                        <div class="field_w_search">
                            <input type="text" placeholder="Búsqueda por Título" />
                            <i class="la la-search"></i>
                        </div>
                        <div class="field_w_search">
                            <input type="text" placeholder="Búsqueda por Título" />
                            <i class="la la-search"></i>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9 column">
                <div class="modrn-joblist np">
                    <div class="filterbar">
                        <span class="emlthis add-alerta"><a><i class="la la-bell-o"></i> Crear Alerta con los Filtros
                                Seleccionados</a></span>
                        <!-- <div class="sortby-sec">
                            <span>Ordenar por</span>
                            <select data-placeholder="Más reciente" class="chosen">
                                <option>Más reciente</option>
                                <option>Most Recent</option>
                                <option>Most Recent</option>
                                <option>Most Recent</option>
                            </select>
                            <select data-placeholder="30 por página" class="chosen">
                                <option>30 por página</option>
                                <option>40 Per Page</option>
                                <option>50 Per Page</option>
                                <option>60 Per Page</option>
                            </select>
                        </div> -->
                        <h5>{{ items?.length }} Propuestas de Trabajo</h5>
                    </div>
                </div><!-- MOdern Job LIst -->
                <div class="job-list-modern">
                    <div class="job-listings-sec no-border">
                        <div class="job-listing wtabs" *ngFor="let p of items">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/blog/la-fundacion-de-google.png" alt="" /> </div>
                                <h3><a title="" [routerLink]="['/propuesta-view', p.id]">{{ p.titulo }}</a></h3>
                                <span><i class="la la-suitcase"></i> {{ p.empresa.valor }}</span>
                                <div class="job-lctn"><i class="la la-map-marker" *ngIf="getUbicacion(p) !== null"></i>{{ getUbicacion(p) }}</div><br>
                                <div class="job-lctn" style="color:rgb(10, 90, 10);">100% de
                                    coincidencia</div>
                            </div>
                            <div class="job-style-bx">
                                <span class="job-is ft">{{ p.tipoEmpleo }}</span>
                                <i *ngIf="p.diasDif === 1">{{ getFecha(p.fechaPosteo) }} (hace {{ p.diasDif }} dia)</i>
                                <i *ngIf="p.diasDif !== 1">{{ getFecha(p.fechaPosteo) }} (hace {{ p.diasDif }} dias)</i>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="pagination">
                        <ul>
                            <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
                            <li><a href="">1</a></li>
                            <li class="active"><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><span class="delimeter">...</span></li>
                            <li><a href="">14</a></li>
                            <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>