<div class="col-lg-6 column">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <h3 style="font-size: 24px;">Alertas</h3>
            <table class="alrt-table">
                <thead>
                    <tr>
                        <td style="font-size: 20px;">Nombre</td>
                        <td class="text-right" style="font-size: 20px; padding-right: 19px;">Acción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="table-list-title">
                                <h3><a href="#" title="">Alerta RRHH, Capital, Full-Time</a></h3>
                            </div>
                        </td>
                        <td>
                            <ul class="action_job">
                                <li><span>Mostrar Propuestas</span><a href="#" title=""><i class="la la-search"
                                            style="font-size: 30px; color: #41ab41"></i></a>
                                </li>
                                <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                            style="font-size: 30px; color: red;"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-list-title">
                                <h3><a href="#" title="">Alerta Psicología, Consultorio, Pasantía</a></h3>
                            </div>
                        </td>
                        <td>
                            <ul class="action_job">
                                <li><span>Mostrar Propuestas</span><a href="#" title=""><i class="la la-search"
                                            style="font-size: 30px; color: #41ab41"></i></a>
                                </li>
                                <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                            style="font-size: 30px; color: red;"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-list-title">
                                <h3><a href="#" title="">Alerta Pasantías, Administración de Empresas</a></h3>
                            </div>
                        </td>
                        <td>
                            <ul class="action_job">
                                <li><span>Mostrar Propuestas</span><a href="#" title=""><i class="la la-search"
                                            style="font-size: 30px; color: #41ab41"></i></a>
                                </li>
                                <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                            style="font-size: 30px; color: red;"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-list-title">
                                <h3><a href="#" title="">Alerta Part-Time, GBA Sur, Comercio Exterior</a></h3>
                            </div>
                        </td>
                        <td>
                            <ul class="action_job">
                                <li><span>Mostrar Propuestas</span><a href="#" title=""><i class="la la-search"
                                            style="font-size: 30px; color: #41ab41"></i></a>
                                </li>
                                <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                            style="font-size: 30px; color: red;"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>