<ng-template #content let-modal>
    <div class="modal-header">
        <h3>Agregar Tarea</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="pf-field">
                <input type="text" placeholder="Nombre de la Tarea" [(ngModel)]="tarea.nombre" name="nombre" />
            </div>
            <div class="dropdown-field">
                <ng-multiselect-dropdown [placeholder]="'Rol del Responsable de la Tarea'" [data]="roles"
                    [(ngModel)]="tarea.rolResponsable" name="rolResposable" [settings]="dropdownSettingsSingle"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="pf-field">
                Tareas Predecesoras
                <ng-multiselect-dropdown [placeholder]="'Seleccione Tareas Predecesoras'" [data]="tareas"
                    [(ngModel)]="tarea.tareasPredecesoras" name="tareasPredecesoras" [settings]="dropdownSettingsMultiple"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="pf-field" style="margin-top: 22px;">
                Tareas Sucesoras
                <ng-multiselect-dropdown [placeholder]="'Seleccione Tareas Sucesoras'" [data]="tareas"
                    [(ngModel)]="tarea.tareasSucesoras" name="tareasSucesoras" [settings]="dropdownSettingsMultiple"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save()">Crear Tarea</button>
    </div>
</ng-template>

<h2 class="add-idioma" style="padding-left: 27px;"><a (click)="open(content)"><i class="la la-plus-circle"></i></a></h2>