<div class="block no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 column">
                <div class="job-single-sec style3">
                    <div class="job-head-wide">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="job-single-head3 emplye">
                                    <div class="job-thumb"> <img src="https://pbs.twimg.com/profile_images/1018874315880697857/vpn4VNwX_400x400.jpg" alt="" /></div>
                                    <div class="job-single-info3">
                                        <h3>{{ empresa?.nombre }}</h3>
                                        <span><a [href]="micrositio?.sitioWeb">{{ micrositio?.sitioWeb }}</a></span>
                                        <div class="share-bar">
                                            <a href="https://www.facebook.com/{{micrositio.redesSociales.usuarioFacebook}}" title="" class="share-fb"><i class="la la-facebook"></i></a>
                                            <a href="https://www.twitter.com/{{micrositio.redesSociales.usuarioTwitter}}" title="" class="share-twitter"><i class="la la-twitter"></i></a>
                                            <a href="https://www.instagram.com/{{micrositio.redesSociales.usuarioInstagram}}" title="" class="share-google"><i class="la la-instagram"></i></a>
                                            <a href="https://www.linkedin.com/company/{{micrositio.redesSociales.usuarioLinkedIn}}" title="" class="share-fb"><i class="la la-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="emply-btns">
                                    <a class="seemap" href="#" title=""><i class="la la-share-square"></i> Enviar
                                        Mensaje / CV</a>
                                    <a class="followus" href="#" title=""><i class="la la-paper-plane"></i> Ver
                                        Propuestas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-wide-devider">
                        <div class="row">
                            <div class="col-lg-12 column">
                                <div class="job-details">
                                    <h2>Sobre <span style="color: purple"><strong>{{ empresa?.nombre }}</strong></span></h2>
                                    <h3>{{ micrositio?.descripcion }}</h3>
                                </div>
                                <div class="job-details">
                                    <div class="row">
                                        <h3 style="font-size: 26px;margin-top: 50px; margin-bottom:40px;">Redes Sociales</h3>
                                        <div class="col-lg-6" *ngIf="micrositio?.redesSociales?.mostrarFeedTwitter">
                                            <ngx-twitter-timeline
                                                [data]="{sourceType: 'url', url: 'https://twitter.com/fravegaonline'}"
                                                [opts]="{tweetLimit: 2, height: 400}">
                                            </ngx-twitter-timeline>
                                        </div>
                                        <div class="col-lg-6" >
                                            <div class="fb-page" data-href="https://www.facebook.com/fravegaonline"
                                                data-tabs="timeline" data-width="" data-height=""
                                                data-small-header="false" data-adapt-container-width="true"
                                                data-hide-cover="false" data-show-facepile="true">
                                                <blockquote cite="https://www.facebook.com/fravegaonline"
                                                    class="fb-xfbml-parse-ignore"><a
                                                        href="https://www.facebook.com/fravegaonline">Frávega</a>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 column">
                                    <div class="job-details">
                                        <h3 style="font-size: 25px;">Noticias</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about-us">
                                            <div class="row" *ngFor="let noticia of micrositio?.noticias">
                                                <div class="col-lg-12">
                                                    <h3>{{ noticia.nombre }}</h3>
                                                </div>
                                                <div class="col-lg-7">
                                                    <p>{{ noticia.fecha }}</p>
                                                    <p>{{ noticia.cuerpo }}</p>
                                                </div>
                                                <div class="col-lg-5">
                                                    <img [src]="noticia.foto" alt="" />
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>