<div class="block no-padding">
    <div class="container">
        <div class="row no-gape">
            <div class="col-lg-12 column">
                <div class="padding-left">
                    <div class="profile-title">
                        <h3>Crear Etapa de Definición de Convenio</h3>
                    </div>
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="pf-title">Nombre de la Etapa</span>
                                <div class="pf-field">
                                    <input type="text" placeholder="" [(ngModel)]="etapa.nombre" name="nombre" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="pf-title">Empresa</span>
                                <div class="dropdown-field">
                                    <ng-multiselect-dropdown [placeholder]="'Seleccione una Empresa'"
                                        [data]="empresas" [(ngModel)]="etapa.empresa" name="empresa"
                                        [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="boton-submit">Crear Etapa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>