<div class="block no-padding">
    <div class="container">
         <div class="row no-gape">
             <div class="col-lg-12 column">
                 <div class="padding-left">
                     <div class="profile-title">
                         <h3>Alta de Materia</h3>
                     </div>
                     <div class="profile-form-edit">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="pf-title">Nombre de la Materia</span>
                                    <div class="pf-field">
                                        <input type="text" placeholder="" [(ngModel)]="materia.nombre" name="nombre" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <span class="pf-title">Código</span>
                                    <div class="pf-field">
                                        <input type="text" placeholder="" [(ngModel)]="materia.codigo" name="codigo" />
                                    </div>
                                </div>
                                <div class="col-lg-11">
                                    <span class="pf-title">Carreras Universitarias</span>
                                    <div class="pf-field">
                                        <ng-multiselect-dropdown [placeholder]="'Seleccione Carreras Universitarias'" [data]="carrerasItems"
                                            [(ngModel)]="materia.carreras" name="carreras" [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-1" style="margin-top: 65px;">
                                    <a [routerLink]="['/carrera']" title="Agregar Carrera"><i class="la la-plus-circle" style="font-size: 30px;"></i></a>
                                </div>
                                <div class="col-lg-11">
                                    <span class="pf-title">Conocimientos</span>
                                    <div class="pf-field">
                                        <ng-multiselect-dropdown [placeholder]="'Seleccione Conocimientos'" [data]="conocimientosItems"
                                            [(ngModel)]="materia.conocimientos" name="conocimientos" [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-1" style="margin-top: 65px;">
                                    <a [routerLink]="['/carrera']" title="Agregar Conocimiento"><i class="la la-plus-circle" style="font-size: 30px;"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit">Crear Materia</button>
                                </div>
                            </div>
                        </form>
                     </div>
                 </div>
            </div>
         </div>
    </div>
</div>