<div class="col-lg-12 column">
    <div class="padding-left">
        <div class="manage-jobs-sec">
           <br />
           <h2 style="padding-left: 27px;">Tareas de Flujo por Defecto</h2>
           
           <div class="contact-form">
               <form>
                   <div class="row">
                       <div class="container" style="padding-left:20px;">
                           <button type="submit" style="margin-left: 20px; padding-top: 10px; 
                           padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">Agregar Tarea</button>
                       </div>
                   </div>
               </form>
           </div>
            <table>
                <thead>
                    <tr>
                       <td style="color: purple;"><h4>Tarea</h4></td>
                       <td style="color: purple;"><h4>Rol Responsable</h4></td>
                       <td style="color: purple;"><h4>Predecesoras</h4></td>
                       <td style="color: purple;"><h4>Sucesoras</h4></td>
                       <td style="color: purple;"><h4>Acciónes</h4></td>
                    </tr>
                </thead>
               <tbody>
                   <tr>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Tarea 1</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Universidad</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Tarea A - Tarea B</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3>Tarea C - Tarea D</h3>
                           </div>
                       </td>
                       <td>
                           <ul class="action_job">
                               <li><span>Editar</span><a href="#" title=""><i class="la la-pencil"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                               <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                           </ul>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Tarea 2</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Empresa</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="" >Tarea B - Tarea D</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3>Tarea T - Tarea E</h3>
                           </div>
                       </td>
                       <td>
                           <ul class="action_job">
                               <li><span>Editar</span><a href="#" title=""><i class="la la-pencil"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                               <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                           </ul>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="" >Tarea 10</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Alumno</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3><a href="#" title="">Tarea D - Tarea M</a></h3>
                           </div>
                       </td>
                       <td>
                           <div class="table-list-title">
                               <h3>Tarea AA</h3>
                           </div>
                       </td>
                       <td>
                           <ul class="action_job">
                               <li><span>Editar</span><a href="#" title=""><i class="la la-pencil"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                               <li><span>Eliminar</span><a href="#" title=""><i class="la la-trash-o"
                                           style="font-size: 30px; color:black;"></i></a>
                               </li>
                           </ul>
                       </td>
                   </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>